<h1>Doggy Homepage</h1>
<ul>
  <li><a href="http://localhost:3000/dog_infos">Index</a></li>
  <li><a href="http://localhost:3000/dog_infos/about">About</a></li>
</ul>
<hr>

<%= form_tag dog_infos_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<ol>
  <% @doginfos.each do |doginfo| %>
    <li><a href="http://localhost:3000/dog_infos/<%= doginfo.id %>" ><%= doginfo.name %></a></li>
  <% end %>
</ol>