<img src="<%= @doginfo.dog_image.dog_image %>" alt="dog profile picture">
<p>Name: <%= @doginfo.name %></p>
<p>Age: <%= @doginfo.dog_age %></p>
<p>Sound: <%= @doginfo.dog_sound %></p>
<p>Breed: <%= @doginfo.dog_breed %></p>
